<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toxicbakery.library.nsd.rx">

    <!-- Requirement for firebase cloud testing to write jacoco to the sdcard on test devices -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
